{%- assign scroll_class = '' -%}
{% if section.settings.height == 'use_screen_full' %}
  {%- assign scroll_class = 'has-scroll-arrow' -%}
{%- endif -%}

<div class="section-video-image {{ scroll_class }} {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="video"
  {% if section.settings.width == "wrapper--none" and section.settings.padding_top == 0 %} data-overlay-header{% endif %}
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">
    {% assign unmute = 'unmute' %}
    {%- if section.settings.unmute -%}
      {%- assign unmute = 'unmute' -%}
    {%- else -%}
      {%- assign unmute = 'mute' -%}
    {%- endif -%}
    <div
      class="section--image"
      {%- assign video_wh_ratio = section.settings.video_bg.aspect_ratio | default: section.settings.image.aspect_ratio | default: 1 -%}
      >

      {%- if section.settings.video_bg != nil -%}
        <div class="video-autoplay-wrapper video_desktop">
          {%- assign video_styles = section.settings.object_position | replace: '-', ' ' | prepend: 'object-position: ' -%}         
          {{ section.settings.video_bg | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, style: video_styles, id:'unmute', data-video-autoplay: '' }}
          <button class="unmuteButton"><i class="fa fa-volume-up"></i></button>
        </div>
      {% endif %}

      <div class="image_mobile">
        {% if section.settings.show_video_mobile %}
          <div class="video-autoplay-wrapper video_mobile">
            {%- assign video_styles = section.settings.object_position | replace: '-', ' ' | prepend: 'object-position: ' -%}
            {{ section.settings.video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, style: video_styles, data-video-autoplay: '' }}
            <button class="unmuteButton"><i class="fa fa-volume-up"></i></button>
          </div>
        {%  else %}
          {%- render 'image', cover: true, img_object: section.settings.image, wh_ratio: video_wh_ratio, loading: 'lazy' -%}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video Image Banner",
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
        { "value": "use_screen_one_half", "label": "One half of screen height"},
        { "value": "use_screen_one_third", "label": "One third of screen height"},
        { "value": "use_screen_one_fifth", "label": "One fifth of screen height"},
        { "value": "use_pixels_800", "label": "800px" },
        { "value": "use_pixels_650", "label": "650px" },
        { "value": "use_pixels_500", "label": "500px" },
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"},
        { "value": "palette--bright bg--bright", "label": "Bright"},
        { "value": "palette--bright bg--bright--accent", "label": "Bright accent"}
      ]
    },
    {
      "type": "video",
      "id": "video_bg",
      "label": "Desktop Video"
    },
    {
      "type": "select",
      "id": "object_position",
      "label": "Video position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "center-top" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "center-bottom" }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Mobile Image"
    },
    {
      "type": "checkbox",
      "id": "preload_image",
      "label": "Prioritize image load",
      "default": false,
      "info": "Prioritize loading this image before other images. Helpful when this section is first on a page, harmful when this section is below other image sections."
    },
    {
      "type": "checkbox",
      "id": "unmute",
      "label": "Play Sound?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_video_mobile",
      "label": "Show video on Mobile",
      "default": false
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Mobile Video"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--none",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Video Image Banner",
      "category": "Image"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}